.coinAnimation {
  .coin {
    -webkit-transform-style: preserve-3d;
  }
  .coin div {
    position: absolute;
    -webkit-backface-visibility: hidden;
  }
  .tails {
    z-index: 100;
  }
  .heads {
    -webkit-transform: rotateY(-180deg);
  }
}
