.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

@media screen and (max-width: 900px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
}
