.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  max-width: 1000px;
  flex-wrap: wrap;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
}
